@page "/all-tags"
@inject ITagEndpoint _tagData

<div class="row">
    <div class="col">
        <ErrorMessage Error="@_errorMessage" />

        @if (_tags is null)
        {
            <Loading />
        }
        else
        {
            <div class="row">
                <h3 class="text-center">All Resources</h3>

                @foreach (var tag in _tags)
                {
                    <div class="col-auto m-2">
                        <div class="card" style="width: 10rem; height: 2em;">
                            <h5 class="card-title">@tag.Name</h5>
                        </div>
                    </div>
                }

            </div>
        }

        <h3 class="text-center">All Tags</h3>
    </div>
</div>

@code {
    private string? _errorMessage = null;
    private List<Tag>? _tags = null;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _tags = (await _tagData.GetAll())
                .ToList();

            _errorMessage = null;
        }
        catch (Exception ex)
        {
            _errorMessage = ex.Message;
        }
    }
}
